# Build results
bin/
obj/
out/

# Visual Studio files
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider files
.idea/

# VS Code files
.vscode/

# ASP.NET Core logs
*.log

# NuGet packages
*.nupkg
*.snupkg
packages/
*.nuget.props
*.nuget.targets

# Publish outputs
publish/

# Configuration
appsettings.Development.json
appsettings.Local.json

# Resharper
_ReSharper*/
*.[Rr]e[Ss]harper

# Backup & temp files
*.bak
*.tmp
*.temp
*.swp

# Others
*.dbmdl
*.jfm
